export PATH=$(dirname $(dirname $PWD))/clang-4.0/bin:$PATH
export CC=clang
export CXX=clang++
if [ ! -d "$PWD/.git" ]; then
    echo ".git not exists, configure bare git repository"
    export GIT_DIR=$HOME/GitHub/CodeTesting/slowfuzz.git
    export GIT_WORK_TREE=$PWD
fi
