[submodule "apps/bzip2/bzip2"]
	path = apps/bzip2/bzip2
	url = https://gitlab.com/bzip2/bzip2.git
[submodule "apps/bzip2/bzip2-tests"]
	path = apps/bzip2/bzip2-tests
	url = git://sourceware.org/git/bzip2-tests.git
[submodule "apps/zlib/zlib"]
	path = apps/zlib/zlib
	url = https://github.com/madler/zlib.git
[submodule "apps/libpng/zlib"]
	path = apps/libpng/zlib
	url = https://github.com/madler/zlib.git
[submodule "apps/libpng/libpng"]
	path = apps/libpng/libpng
	url = https://github.com/pnggroup/libpng.git
